<%= form_with model: @item, url: items_path, method: :post, local: true do |f|%>
  <div class="weight-bold-text">
    カテゴリー
    <span class="indispensable">必須</span><br />
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>

  <div class="field">
    <%= f.label :name, "名称(分類)" %><br />
    <%= f.text_field :name, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :price, "価格" %><br />
    <%= f.text_field :price, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="weight-bold-text">
    月
    <span class="indispensable">必須</span><br />
  <%= f.collection_select(:delivery_month_id, Delivery_month.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>
  
  <div class="weight-bold-text">
    日
    <span class="indispensable">必須</span><br />
  <%= f.collection_select(:delivery_day_id, Delivery_day.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>

  <div class="weight-bold-text">
    時間
    <span class="indispensable">必須</span><br />
  <%= f.collection_select(:delivery_time_id, Delivery_time.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  </div>

  <div class="field">
    <%= f.label :detail, "詳細情報" %><br />
    <%= f.text_area :detail, class: :form__text, id:"prototype_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "詳細画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>