<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <%# <div class="greeting"> %>
        <%# こんにちは、 %>
        <%# <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
      <%# </div> %>
    <%# // ログインしているときは上記を表示する %>
    
    <div class="card__wrapper">
      <%= render partial: 'item', collection: @items %>
    </div>
    <div class="price__all">
      <p>合計 ¥<%= @items.all.sum(:price) %></p>
    </div>
  </div>
  <h1>
  詳細検索
  </h1>
  <%= search_form_for @p, url: items_search_path do |f| %>
  <%= f.label :category_eq, 'カテゴリー' %>
  <%= f.collection_select :category_id_eq, Category.all, :id, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.label :delivery_day_eq, '日付' %>
  <%= f.collection_select :delivery_day_id_eq, DeliveryDay.all, :id, :name, include_blank: '指定なし'%> 
  <br>
  <%= f.submit '検索' %>
<% end %>
</main>