<div class="todomain">
<%= form_with model: @post, local: true do |f|%>
  <div class="area">
    <%= f.label :format, "Must or Want",id:"todo__title" %><br />
    <%= f.radio_button :format, 1, id:"todo__btn" %>
    <%= f.radio_button :format, 2, id:"todo__btn2" %>
  </div>

  <div class="area">
    <%= f.label :content, "Schedule" %><br />
    <%= f.text_area :content, class: :todo__text, id:"todo_catch_copy" %>
  </div>

  <div class="enter">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>
<div class="schedule">
  <div class="schedule1">
  Must
  <% @post1.each do |post1| %>
    <div class="post1">
      <div class="post-date">
        投稿日時：<%= post1.created_at.in_time_zone('Tokyo') %>
        <b id="finish">未完了</b>
        <%= link_to '削除', post_path(post1), method: :delete, data: {confirm: "削除しますか？"}, class:'post-destroy', id:"trash" %>
      </div>
      <div class="post-content">
        <%= post1.content %>
      </div>
    </div>
  <% end %>
  </div>

  <div class= "schedule2">
  Want
  <% @post2.each do |post2| %>
    <div class="post2">
      <div class="post-date">
        投稿日時：<%= post2.created_at.in_time_zone('Tokyo') %>
        <b id="finish">未完了</b>
        <%= link_to '削除', post_path(post2), method: :delete, data: {confirm: "削除しますか？"}, class:'post-destroy', id:"trash" %>
      </div>
      <div class="post-content">
        <%= post2.content %>
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>