<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>transin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <%= link_to image_tag("backlogo3.png", class: :logo2), root_path %>
    </header>
    <%= yield %>
    <div>
    <%= link_to(new_item_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>追加する</span>
      <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
    </div>
    <div>
    <%= link_to(root_path, class: 'purchase-btn3') do %>
      <span class='purchase-btn-text'>間取り </span>
      <%= image_tag 'icon_check.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
    <div>
    <%= link_to(posts_path, class: 'purchase-btn2') do %>
      <span class='purchase-btn-text'>TO DO </span>
      <%= image_tag 'icon_check.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
    </div>
    <footer class="footer">
      <p class="copyright">TRANCE IN created by N.A</p>
    </footer>
  </body>
</html>
